---
import { getCollection } from "astro:content";

import { CATEGORY_ICONS, fadeUp, formatCategoryLabel } from "@/utils";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  const categories = [
    ...new Set(articles.map((article) => article.id.split("/")[0])),
  ];

  return categories.map((category) => ({
    params: { category },
  }));
}

const category = Astro.params.category as string;

const categoryArticles = (
  await getCollection("articles", ({ id }) => id.split("/")[0] === category)
).sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());
---

<Layout title={`${formatCategoryLabel(category)} / Design Note`}>
  <main transition:animate={fadeUp}>
    <header class="category-title">
      <img src={CATEGORY_ICONS[category]} alt={formatCategoryLabel(category)} />
      <h1>
        {formatCategoryLabel(category)}
      </h1>
    </header>
    <div transition:animate={fadeUp}>
      {
        categoryArticles.map((article, index) => (
          <article style={`animation-delay: ${(index + 1) * 0.1}s`}>
            <a href={`/articles/${article.id}/`} class="card">
              <div class="card__body">
                <span class="card__index">
                  {String(index + 1).padStart(2, "0")}
                </span>
                <h2 class="card__title">{article.data.title}</h2>
                <p class="card__excerpt">{article.data.excerpt}</p>
                <span class="card__badge">
                  {" "}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="17"
                    fill="none"
                    viewBox="0 0 17 17"
                  >
                    <>
                      <path
                        stroke="#b17a28"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M2.301 9.15c2.213-5.414 9.408-5.665 11.993-.419"
                      />
                      <path
                        stroke="#b17a28"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M7.62 11.48a2 2 0 1 0 1.401-3.748 2 2 0 0 0-1.4 3.748"
                      />
                    </>
                  </svg>
                  5m Views
                </span>
              </div>
            </a>
          </article>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  .category-title {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-2xl);
    color: var(--primary-color);
  }
</style>
