---
import { CATEGORY_ICONS, formatCategoryLabel } from "@/utils";

interface Props {
  title: string;
  excerpt: string;
  readTime: string;
  category: string;
  index: number;
  href: string;
}

const { title, excerpt, readTime, category, index, href } = Astro.props;

const displayIndex = String(index).padStart(2, "0");
const categoryLabel = formatCategoryLabel(category);

const iconSrc =
  CATEGORY_ICONS[category] ?? "/icons/categories/fundamental-icon.svg";
---

<a href={href} class="card" id={`card-${displayIndex}`}>
  <div class="card__header">
    <span class="card__tag">
      <span class="card__tag-icon">
        <img src={iconSrc} alt="" width="16" height="16" />
      </span>
      {categoryLabel}
    </span>
    <span class="card__index">{displayIndex}</span>
  </div>

  <div class="card__body">
    <h2 class="card__title">{title}</h2>
    <p class="card__excerpt">{excerpt}</p>
    <!-- change readTime to views -->
    <span class="card__badge">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="17"
        fill="none"
        viewBox="0 0 17 17"
        ><path
          stroke="#b17a28"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M2.301 9.15c2.213-5.414 9.408-5.665 11.993-.419"></path><path
          stroke="#b17a28"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M7.62 11.48a2 2 0 1 0 1.401-3.748 2 2 0 0 0-1.4 3.748"></path></svg
      >{readTime} Views
    </span>
  </div>
</a>
